@import "./sass/vendors/bootstrap.scss";

@import "./sass/abstracts/mixins";
@import "./sass/abstracts/variables";
@import "./sass/abstracts/helpers";

@import "./sass/base/base";
@import "./sass/base/typography";

@import "./sass/components/buttons";

@import "./sass/layout/footer";
@import "./sass/layout/sections";

@import "./sass/sections/about";
@import "./sass/sections/contact";
@import "./sass/sections/hero";
@import "./sass/sections/projects";

.relative {
    position: relative;
}

.building-block {
    position: absolute;
    right: 120px;
    bottom: 60px;

    background-color: #FFF6CC;
    border-width: 2px;
    border-color: #FFD600;

    padding: 20px;

    max-width: 500px;

    border-radius: 20px;
}

.warning-title {
    font-weight: 700;
    margin-bottom: 12px;
}

.align-left {
    text-align: left;
}

.underline {
    text-decoration: underline;
}